div{
    color:black;
}
.box{
    color:black;
    font-size: 30px;
    text-align: left;
    padding: 20px;
    display: inline-block;
    font-family: cursive;
    font-weight: bold;
    
}
.steel{
     color:black(20, 108, 223);
     font-size: 20px;
     margin-top: 1px;
     text-align: right;
     padding: 20px;
     font-family: cursive;
}

.a-header-1{
    font-size:24px;
    color: black;
    padding: 20px ;
    margin: auto;
    font-family: cursive;
    text-align: center;
}
.div-1 {
    border: 1px solid black;
    margin: 5px  !important;
}

.div-footer{
    height: 100px;
    color:black;
    padding: 10%;
}
div.price{font-size: 20px;
         color:black;
}
div.container{
     background-color: lightgrey;
     background-origin: content-box;
}
.extraLarge{
    font-size: 50px;
    font-weight: bold;
}